
.clear
  clear: both

.select
  &_invalid
    background: red
  &_blank
    background: blue
  &_invalid&_blank
    background: green

.input
  &_invalid
    background: red
  &_blank
    background: blue
  &_invalid&_blank
    background: green

.rules
  &__item
    float: left
    &__cross
      float: left
      cursor: pointer

