.select
  &_invalid
    background: red
  &_blank
    background: blue
  &_invalid&_blank
    background: green

.input
  &_invalid
    background: red
  &_blank
    background: blue
  &_invalid&_blank
    background: green